html.anon .sidebar .widget-bookmark
{
	display: none;
}

h1{
	font-size: 18px;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
letter-spacing: -0.02em;
color: #1f2d3a;
line-height: 1.4;
margin-bottom: 20px;
font-weight: 300;
}

div.widget-inner{
	button.bookmark-widget.btn{
		display: none;
		float: right;
		border-radius: 15px;
		padding: 2px 5px;
	}

	div.bookmarkBlock:hover{
		button{
			display: block;
			margin : 3px;
		}
		/*outline: none;
		top: -.5em;
		left: -.5em;
		box-shadow: 3px 3px 5px rgba(0,0,0,0.2);*/
	}
	.bookmarkBlock {   
		margin-top: 7px;
		width: 300px;
	}

	.widget-bookmark br{
    	display: none;
	}

	.widget-bookmark{
    	border-bottom: none;
	}

	.more-bookmark{
    background-color: #dedfe4;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: black !important;
    float: right;
    /*margin-top: -15px;*/
    }

    .more-bookmark:hover{ 
    	color: white !important;
    }


}
